<div class="container p-4">
    <div class="row">
        {{#each citas}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p>
                            <h3 class="card-title text-uppercase">
                                {{title}}
                            </h3>
                        </p>
                        <p class="m-2">{{subtitle}}</p>
                        <p class="m-2">{{description}}</p>
                        <p class="m-2"> {{timeago date}} </p>
                        <p class="m-2"> {{ formatDate date "ll" }} </p>
                        <p class="m-2"> {{time}} </p>
                        <a href="/citas/delete/{{id}}" class="btn btn-danger"> Eliminar</a>
                        <a href="/citas/edit/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <h3>No hay citas agendas por el momento</h3>
                    <a href="/citas/add">¡Agenda una cita!</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>