<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">
            <div class="card-body">
                <form action="/citas/edit/{{cita.id}}" method="POST">
                    <div class="form-group">
                        <h4>Agendar</h4>
                    </div>
                    <div class="form-group">
                        <input type="text" value="{{cita.title}}" class="form-control" name="title" placeholder="Titulo" autofocus>
                    </div>
                    <div class="form-grpup">
                        <input type="text" value="{{cita.subtitle}}" class="form-control" name="subtitle" placeholder="Subtitulo">
                    </div>
                    <br>
                    <div class="form-group">
                        <textarea name="description" class="form-control" rows="4" placeholder="Descripción">{{ cita.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <input type="date" value="{{formatDate cita.date "YYYY-MM-DD"}}" class="form-control" name="date">
                    </div>
                    <div class="form-group">
                        <input type="time" value="{{cita.time}}" class="form-control" name="time" step="2">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Agendar
                        </button>
                    </div>
                </form>
            </div>
           </div> 
        </div>
    </div>
</div>